---

import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import Venzo from '../components/Venzo.astro';
import Zion from '../components/Zion.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="MountainBike Ushuaia">
	<LandingHeader/>
	<div class=" mb"></div>
	
	<main class=" snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class=" snap-center">
			
			<HeroSection />	
		<div/>
		
		<div class=" snap-center">
			<Venzo></Venzo> 	
		<div/>
		<div class=" snap-center">
			<Zion></Zion> 	
		<div/>

		<div class=" snap-center">
			<Contacto></Contacto> 	
		<div/>
	


	</main>
		
</Layout>
