---
import Logo from "./Logo.astro";

---
<header id="landing-header" class=" py-6 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white ">

<div class=" flex flex-grow justify-start basis-0">
    <!-- <Logo /> -->
</div>

<nav>
    <ul class=" [&>li>a]:text-current flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
        <li><a href="#">Venzo</a></li>
        <li><a href="#">SLP</a></li>
        <li><a href="#">Zion</a></li>
        <li><a href="#">Trek</a></li>
        <li><a href="#">FireBird</a></li>
        <li><a href="#">Olmo</a></li>
    </ul>
</nav>

<nav class=" [&>li>a]:text-current flex flex-grow justify-end basis-0">
    <ul class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
        <li><a href="#">Accesorios</a></li>
        <li><a href="#">Tienda</a></li>
        <li><a href="#">Cuenta</a></li>
        <li><a href="#">Menu</a></li>
    </ul>
</nav>

</header>

<script>import { createGetEntry } from "astro/content/runtime"

const header = document.querySelector('#landing-header') as HTMLElement

const observerOptions ={
    root: null,
    rootMargin: '0px',
    threshold: 0.90
}

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) =>{
            const{isIntersecting} = entry
            if(isIntersecting){
                const color = entry.target.getAttribute('data-header-color')
                header.style.color = color
            }
    })
}, observerOptions)

const sections = document.querySelectorAll(".landing-section")
sections.forEach((section) => observer.observe(section))
</script>